
<nav class="navbar navbar-toggleable-md navbar-inverse bg-transparent fixed-top" role="navigation">
  <div class="container no-override">
    <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
      <%= image_tag("logo_icon.svg",  alt: "logo", class: "hidden-md-down d-inline mr-2 w-50") %>
    </a>

    <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            Acheter
            <i class="ion-chevron-down"></i>
          </a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="#">Parcourir les prestataires</a>
            <a class="dropdown-item" href="#">Poster un job</a>
            <a class="dropdown-item" href="#">Poster un produit</a>
            <a class="dropdown-item" href="#">Trouver un produit</a>
            <a class="dropdown-item" href="#">Trouver des travailleurs</a>
            <a class="dropdown-item" href="#">Découvrir les compétences</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            Vendre
            <i class="ion-chevron-down"></i>
          </a>
          <div class="dropdown-menu" role="menu">
            <a class="dropdown-item" href="#">Parcourir les jobs</a>
            <a class="dropdown-item" href="#">Poster une prestation</a>
            <a class="dropdown-item" href="#">Poster un produit</a>
            <a class="dropdown-item" href="#">Trouver un produit</a>
            <a class="dropdown-item" href="#">Trouver des clients</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link single">
            Comment ça marche
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link--rounded" href="#">Poster une annonce</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            Se connecter
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            S'inscrire
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>